@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Spline+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

*{
    font-family: 'Spline Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(243, 243, 243);
}

.index_presentation{
    width: 100%;
}

.index_presentation img{
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
}

.index_presentation_text{
    width: 90%;
    font-size: x-large;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 200px;
}

/* ======================================== */

.index_recuadro{
    width: 100%;
    height: 55px;
    background-color: rgb(93, 49, 255);
}

.appWhatsapp{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

.appWhatsapp i{
    font-size: 50px;
    background-color: rgb(40, 216, 40);
    border-radius: 100%;
    color: white;
}

/* ======================================== */

.index_section{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.uno{
    background-image: url(../img/mision_vision.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.index_section_text1,
.index_section_text2{
    width: 50%;
    color: white;
    font-size: 30px;
    margin-top: 30px;
}

.index_section_text1 h2{
    text-align: left;
    margin-left: 80px;
    font-family: 'Dongle', sans-serif;
}

.index_section_text1 p,
.index_section_text2 p{
    font-family: 'Dongle', sans-serif;
}

.index_section_text1 hr{
    float: left;
}

.index_section_text2 hr{
    float: right;
}

.index_section_text2 h2{
    font-family: 'Dongle', sans-serif;
    text-align: right;
    margin-right: 150px;
}

hr{
    width: 70%;
    color: white;
}

.index_section_text1{
    margin-left: 30px;
}

.index_section_text2{
    right: 0;
    position: absolute;
    margin-top: -30px;
    margin-right: 30px;
}