*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

.nav_list{
    display: flex;
    background-color: rgb(0, 0, 0, 0.5);
    right: 0;
    position: absolute;
}

.nav_item{
    margin-right: 20px;
    margin-top: 10px;
}

.nav_link{
    color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
}

.logo{
    margin-right: 800px;
    margin-top: -15px;
    margin-bottom: -35px;
}

.logo img{
    width: 210px;
    height: 60px;
}

.nav_link:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* ========================================================
=======================RESPONSIVE==========================
=========================================================== */

@media screen and (max-width: 768px){
    
}